
<h2 class="my-4">List of Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>User number 1</td>
            <td>User number 2</td>
            <td>User number 3</td>
            <td>User number 4</td>
        </tr>
        <tr>
            <td>User number 1</td>
            <td>User number 2</td>
            <td>User number 3</td>
            <td>User number 4</td>
        </tr>
        <tr>
            <td>User number 1</td>
            <td>User number 2</td>
            <td>User number 3</td>
            <td>User number 4</td>
        </tr>
        <tr>
            <td>User number 1</td>
            <td>User number 2</td>
            <td>User number 3</td>
            <td>User number 4</td>
        </tr>
        <tr>
            <td>User number 1</td>
            <td>User number 2</td>
            <td>User number 3</td>
            <td>User number 4</td>
        </tr>
    </tbody>
</table>