
<div class="row">

    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>
    
    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>
    
    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>
    
    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>
    
    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>
    
    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>

    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>

    <div class="col-md-4 my-3">
        <app-product-card></app-product-card>
    </div>
</div>
